* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222327;
}

.menu {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .toggle {
    position: absolute;
    width: 50px;
    height: 50px;
    /* width: 75px; */
    /* height: 75px; */
    background-color: #fff;
    border-radius: 50%;
    color: #222327;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
    transition: 0.5s;
}

.menu .toggle.active {
    transform: rotate(315deg);
    /* transition: 0.5s; */
    box-shadow: 0 0 0 68px #fff;
    background: #222327;
    color: white;
    /* Extras */
    width: 74px;
    /* Extras */
    height: 74px;

}

.menu li {
    position: absolute;
    left: 10px;
    list-style: none;
    transform: rotate(calc(360deg / 8 *  var(--i))) translateX(40px);
    visibility: hidden;
    opacity: 0;
    transform-origin: 140px;
    transition: 0.5s;
    z-index: 10;
}

.menu.active li {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    font-size: 1.75rem;
    transform: rotate(calc(360deg/-8*var(--i)));
    color: #222327;
    border-radius: 50%;
    opacity: 2;
}

.menu.active li.active {
    transform: rotate(calc(360deg/8*var(--i))) translateX(12px);
}

.indicator {
    position: absolute;
    left: calc(50% + 2.5px);
    width: 100px;
    height: 1px;
    /* background: #f00; */
    pointer-events: none;
    transition: 0.5s;
    transform-origin: right;
}

.indicator::before {
    content: '';
    position: absolute;
    top: -27.5px;
    left: 60px;
    width: 55px;
    height: 50px;
    background: #222327;
    box-shadow: 0 0 0 6px #29fd53;
    border-radius: 50%;
    transition: 0.5s;
    opacity: 0;
}

.menu.active .indicator::before {
    opacity: 0.988;
    top: -24.5px;
    left: -29.5px;
    background: #29fd53;
    box-shadow: 0 0 0 6px #222327;
}

.menu li:nth-child(2).active ~ .indicator {
    transform: translateX(-103px) rotate(0deg);
}

.menu li:nth-child(3).active~.indicator {
    
    transform: translateX(-103px) rotate(45deg);
}

.menu li:nth-child(4).active~.indicator {
    
    transform: translateX(-103px) rotate(90deg);
}

.menu li:nth-child(5).active~.indicator {
    
    transform: translateX(-103px) rotate(135deg);
}
.menu li:nth-child(6).active~.indicator {
    
    transform: translateX(-103px) rotate(180deg);
}
.menu li:nth-child(7).active~.indicator {
    
    transform: translateX(-103px) rotate(225deg);
}
.menu li:nth-child(8).active~.indicator {
    
    transform: translateX(-103px) rotate(270deg);
}
.menu li:nth-child(9).active~.indicator {
    
    transform: translateX(-103px) rotate(315deg);
}